@import "normalize";
@import "markdown";

.hidden {
  display: none !important;
}

.header__container {
  margin: var(--rhythm) 0;
}

.header__site-link {
  font-family: var(--sans-serif-font-stack);
  font-size: var(--rhythm);
  font-weight: 700;
  box-shadow: none;
  color: inherit;
}

.listing__list {
  list-style-type: none;
  padding: 0;
}

.listing__item--hidden {
  display: none;
}
