@mixin list-reset() {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    margin-bottom: 0;
  }
}

.articles-css-grids {
  padding: var(--rhythm) 0;

  iframe {
    display: block;
    border: none;
    width: 100%;
    height: 100%;
  }

  h1 {
    margin-top: calc(2 * var(--rhythm));
    margin-bottom: calc(2 * var(--rhythm));
  }

  > * {
    padding: 0 var(--rhythm);
  }

  > :not(.iframe-outer-container) {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
  }

  .iframe-outer-container {
    max-width: 60rem;
    margin: calc(2 * var(--rhythm)) auto;
  }

  .iframe-padding-container {
    position: relative;
    padding-top: 50%;
  }

  .iframe-inner-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    align-self: flex-end;
  }

  .iframe-resize-container {
    margin-left: auto;
    margin-right: auto;
  }

  .iframe-resize-handle {
    background: var(--primary-color);
    height: 15vh !important;
    top: 5vh !important;
    border-radius: 5px;

    &-left {
      left: -10px !important;
    }

    &-right {
      right: -10px !important;
    }
  }
}

main.articles-css-grids-table {
  .css-grids--table {
    border-spacing: 1rem;
  }

  @media screen and (max-width: 550px) {
    table,
    tr,
    td {
      display: block;
    }
  }
}

main.articles-css-grids-float {
  --grid-spacing: 0.5rem;
  padding: 0 var(--grid-spacing);

  .css-grids--float-outer {
    padding: var(--grid-spacing);
  }

  .css-grids--float {
    margin: 0 calc(-1 * var(--grid-spacing));
  }

  .css-grids--float-row::after {
    clear: both;
    display: block;
    content: "";
  }

  .css-grids--float-item {
    padding: var(--grid-spacing);
    width: 33.3333%;
    float: left;
  }
}

main.articles-css-grids-flex {
  --grid-spacing: 0.5rem;

  .css-grids--flex-outer {
    padding: 0 var(--grid-spacing);
  }

  .css-grids--flex {
    @include list-reset();
    display: flex;
    flex-wrap: wrap;
    margin: calc(-1 * var(--grid-spacing));
  }

  .css-grids--flex li {
    padding: var(--grid-spacing);

    @media screen and (min-width: 550px) {
      width: 50%;
    }

    @media screen and (min-width: 800px) {
      width: 33.333333%;
    }
  }
}

main.articles-css-grids-grid {
  --grid-spacing: 0.5rem;
  padding: 0 var(--grid-spacing);

  .css-grids--grid {
    @include list-reset();
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: calc(2 * var(--grid-spacing));
  }
}
