@mixin list-reset() {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    margin-bottom: 0;
  }
}

.articles-css-grids {
  iframe {
    display: block;
    border: none;
    width: 100%;
    height: 100%;
  }

  .iframe-outer-container {
    padding: 0 var(--rhythm);

    --width: 100vw;
    margin: 0 calc(50% - calc(var(--width) / 2));

    @media screen and (min-width: 50em) {
      --width: 95vw;
    }

    @media screen and (min-width: 70em) {
      --width: 60rem;
    }
  }

  .iframe-padding-container {
    position: relative;
    padding-top: 50%;
  }

  .iframe-inner-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    align-self: flex-end;
  }

  .iframe-resize-container {
    margin-left: auto;
    margin-right: auto;
  }

  .iframe-resize-handle {
    background: var(--primary-color);
    height: 15vh !important;
    top: 5vh !important;
    border-radius: 5px;

    &-left {
      left: -10px !important;
    }

    &-right {
      right: -10px !important;
    }
  }
}

main.articles-css-grids-table {
  --grid-spacing: 1rem;

  .css-grids--table {
    border-spacing: var(--grid-spacing);
    display: table;
  }

  @media screen and (max-width: 550px) {
    table,
    tr,
    td {
      display: block;
    }
  }
}

main.articles-css-grids-float {
  --grid-spacing: 1rem;
  padding: 0 calc(0.5 * var(--grid-spacing));

  .css-grids--float-outer {
    padding: calc(0.5 * var(--grid-spacing));
  }

  .css-grids--float {
    margin: 0 calc(-0.5 * var(--grid-spacing));
  }

  .css-grids--float-row::after {
    clear: both;
    display: block;
    content: "";
  }

  .css-grids--float-item {
    padding: calc(0.5 * var(--grid-spacing));
    width: calc(100% / 3);
    float: left;
  }
}

main.articles-css-grids-flex {
  --grid-spacing: 1rem;

  .css-grids--flex-outer {
    padding: 0 calc(0.5 * var(--grid-spacing));
  }

  .css-grids--flex {
    @include list-reset();
    display: flex;
    flex-wrap: wrap;
    margin: calc(-0.5 * var(--grid-spacing));
  }

  .css-grids--flex li {
    padding: calc(0.5 * var(--grid-spacing));

    @media screen and (min-width: 550px) {
      width: calc(100% / 2);
    }

    @media screen and (min-width: 800px) {
      width: calc(100% / 3);
    }
  }
}

main.articles-css-grids-grid {
  --grid-spacing: 1rem;
  padding: 0 calc(0.5 * var(--grid-spacing));

  .css-grids--grid {
    @include list-reset();
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: var(--grid-spacing);
  }
}
