.resume {
  section {
    display: flex;
    flex-direction: column;
  }

  .tagline {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;
    font-family: inherit;
  }

  h3 {
    margin-top: 0;
  }
}
