.resume {
  max-width: 8.5in;
  margin: 0 auto;
  font-family: "Times New Roman", Times, serif;

  @media screen {
    padding: var(--rhythm);
  }

  a {
    @media print {
      color: inherit;
      box-shadow: none;
    }
  }

  section {
    display: flex;
    flex-direction: column;
  }

  ul {
    margin: 0;
  }

  .tagline {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  section + section,
  .tagline {
    margin-top: var(--rhythm);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-family: inherit;
  }

  .tagline + * {
    margin-top: 3px;
  }

  h3 + ul {
    margin-top: 5px;
  }

  li {
    margin: 0;
  }
}
