.bioContainer {
  display: flex;
  align-items: center;
  margin-bottom: calc(2 * var(--rhythm));
}

.profilePicture {
  border-radius: 50%;
  min-width: 50px;
  display: inline-block;
  margin-right: var(--rhythm);
}
