{% extends "base.html" %} {% block title %}{{ section.title }}{% endblock title
%} {% block description %}{{ section.description }}{% endblock description %} {%
block content %} {% if section.extra.searchable %}
<label>
  Search:
  <p>
    <input type="text" id="index-search" />
  </p>
</label>
{% endif %}
<h1 class="title">{{ section.title }}</h1>
<ul class="listing__list">
  {% for page in section.pages %}
  <li class="listing__item" id="{{ page.permalink | safe }}">
    <article>
      <h2><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h2>
      <time datetime="{{ page.date }}">
        {{ page.date | date(format="%B %e, %Y") }}
      </time>
      <p>{{ page.description }}</p>
    </article>
  </li>
  {% endfor %}
</ul>
{% if section.extra.searchable %}
<script src="/elasticlunr.min.js"></script>
<script src="/search_index.en.js"></script>
<script>
  const init = async () => {
    const lunr = elasticlunr.Index.load(window.searchIndex);

    const getItemElements = () => [
      ...document.getElementsByClassName("listing__item"),
    ];

    document
      .getElementById("index-search")
      .addEventListener("input", (event) => {
        if (!event.target.value) {
          getItemElements().forEach((element) =>
            element.classList.toggle("listing__item--hidden", false)
          );
          return;
        }
        const searchResults = lunr.search(event.target.value);
        console.log(searchResults);
        const visibleLinks = new Set(
          searchResults.map((result) => result.doc.id)
        );
        getItemElements().forEach((element) => {
          element.classList.toggle(
            "listing__item--hidden",
            !visibleLinks.has(element.id)
          );
        });
      });
  };

  init();
</script>
{% endif %} {% endblock content %}
